// ######## Estilos Globales ########

html {
  scroll-behavior: smooth !important;
}
body {
  font-family: "Open Sans", sans-serif !important;
  font-weight: bold;
  background-color: #ffffff !important;
}
body::-webkit-scrollbar,
.table-body::-webkit-scrollbar,
.lista-body::-webkit-scrollbar {
  width: 10px; /* Tamaño del scroll en vertical */
  height: 0; /* Tamaño del scroll en horizontal */
  overflow-x: hidden;
  background-color: #ffffff !important;
}
body::-webkit-scrollbar-thumb {
  background: #e41a4c !important;
}
// .modal-body{
//   background-color: #e0e0e0 !important;
// }
.table-body::-webkit-scrollbar-thumb,
.lista-body::-webkit-scrollbar-thumb {
  // background: #3949AB;
  background-color: #ffffff;
  border-radius: 4px;
}
body::-webkit-scrollbar,
.table-responsive::-webkit-scrollbar,
.table-body::-webkit-scrollbar,
.lista-body::-webkit-scrollbar,
.modal-Garantia::-webkit-scrollbar {
  width: 10px;
  /* Tamaño del scroll en vertical */
  height: 0;
  /* Tamaño del scroll en horizontal */
  overflow-x: hidden;
  background-color: #E8EAF6 !important;
}

body::-webkit-scrollbar-thumb,
.table-responsive::-webkit-scrollbar-thumb,
.modal-Garantia::-webkit-scrollbar-thumb  {
  background: #000000 !important;
  border-radius: 3px;
}

// .modal-body{
//   background-color: #e0e0e0 !important;
// }
.table-body::-webkit-scrollbar-thumb,
.table-responsive::-webkit-scrollbar-thumb,
.lista-body::-webkit-scrollbar-thumb,
.modal-Garantia::-webkit-scrollbar-thumb  {
  // background: #3949AB;
  background-color: #0d6efd;
  border-radius: 4px;
}
// Login
.login {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.link-recupero {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}
.logo-login {
  width: 320px;
}
.logo-menu {
  width: 150px;
}
.noti {
  z-index: 5;
}
#spinner-login {
  display: none;
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
  background-color: #ffffff;
}
// ######## Navbar ########
.navbar {
  background-color: #231f20;
}

.recursos-humanos,
.doc-legales,
.casos-nav {
  color: #ffffff;
  font-size: 16px;
  padding: 8px;
  font-family: sans-serif;
  text-decoration: none;
}

.recursos-humanos:hover,
.doc-legales:hover,
.casos-nav:hover {
  color: #f58220;
  transition: 1s;
}

.logo-navbar {
  width: 35px;
  height: auto;
}

.fuente {
  font-size: 16px !important;
}
[class^="bi-"]::before,
[class*=" bi-"]::before {
  font-size: 18px;
  color: #ffffff;
  padding-right: 15px;
}
.navbar-nav .nav-link {
  font-size: 20px;
}
a#navbarDropdown {
  font-size: 20px;
}
.padd-menu-link {
  padding-right: 20px !important;
  padding-left: 20px !important;
}
.card-notificacion {
  width: 20rem;
}
.foto-perfil {
  width: 40px;
  border-color: black;
}
.foto-perfil-notificacion {
  width: 50px;
}
.foto-mi-perfil {
  width: 180px;
  border-color: black;
}
.contened-notificacion {
  border-top: 0.5px solid #ffffff !important ;
  border-bottom: 0.5px solid #ffffff !important ;
  padding: 10px;
}
.card-title-menu {
  font-size: 16px;
}
.card-text-menu {
  font-size: 14px;
}
.color-notificacion {
  color: #231f20;
}
// .color-footer-notificacion{
//     color:#007c86
// }
.boton-notificacion:focus {
  box-shadow: none !important;
}
.notification-indicator-primary::before {
  background-color: #f58220;
}
.notification-indicator::before {
  position: absolute;
  content: "";
  right: 23px;
  top: 1px;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: 2px solid #ffffff;
}
.fondo-perfil {
  background-color: #f8f9fa !important;
}
//######## Inicio ########
.color-montos {
  color: #f58220;
  font-weight: bold;
}
.color-textos {
  color: #f58220;
  font-weight: bold;
}
.hr-width {
  width: 15%;
}
.titulo {
  background-color: #ffffff !important;
}
.half-black {
  background: rgba(0, 0, 0, 0.8) !important;
}
.icono-correcto {
  width: 25px;
}
.hr-principal {
  height: 3px !important;
  color: #f58220 !important;
  opacity: 1 !important;
  width: 80px !important;
}
.color-textp-lista {
  color: #231f20 !important;
}
.texto-lista {
  font-size: 13.2px !important;
}
.color-header {
  background-color: #ffffff !important;
}
.color-secundario {
  color: #f58220;
}
.color-azul-fuerte {
  color: #f58220;
}
.pad {
  border-radius: 10px !important;
}
.borde-redondo {
  border-radius: 30px !important;
}
.borde-0 {
  border-radius: 0 !important;
}
.borde-none {
  border: 0 !important;
}
.padding-foto-perfil {
  padding: 3px;
  background-color: #231f20;
}
//Tablas
.tabla {
  height: 50vh;
  scroll-behavior: smooth;
  display: none;
}
.color-head {
  color: #231f20 !important;
  background-color: #231f20;
  border-radius: 5px;
}
.td-texto {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
}
.table-head {
  font-size: 14px;
  border: 0;
}
.table-body-size {
  font-size: 13px;
  max-height: 400px !important;
  width: 100% !important;
}
.table-body {
  height: 300px !important;
  width: 500px;
}
.borde-tabla-izquierda {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.borde-tabla-derecha {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.tr-tabla {
  table-layout: fixed;
  padding-left: 20px !important;
}
.options {
  width: 8%;
}
.options-left {
  width: 5%;
}
.spinner-height {
  height: 200px;
}
.transicion {
  transition: all 0.5 ease-in-out;
}
th.p-2.fw-bolder.text-center.h6 {
  font-size: 14px !important;
}
td.p-2.pt-3.td-texto.text-center {
  font-size: 13px !important;
}
button.btn.btn-dark.float-right {
  float: right !important;
  margin-right: 20px;
}
.flechaTabla {
  font-size: 14px;
  font-weight: bold;
  color: #231f20;
}
.texto-tabla {
  font-size: 14px;
}
//Loader
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #231f20;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//Documentos
.documento-alto {
  height: 600px !important;
}
.doc-cards {
  max-height: 500px;
}
.lista-header {
  font-size: 14px !important;
  font-weight: 700;
}
.lista-body {
  max-height: 340px;
  font-size: 14px !important;
  font-weight: 500;
  overflow-x: hidden !important;
}
.prefijo {
  padding: 8px 10px;
}
.c-azul {
  color: #231f20 !important;
}
.fuente-lista {
  font-size: 14px !important;
}
.alto-mapa {
  height: 400px;
}
//Buscador
.buscador {
  width: 100%;
  float: right;
  padding: 5px;
  margin: 4px;
  padding-left: 60px;
  border-radius: 28px;
  border: none !important;
}

.Icon-inside {
  position: relative;
}

.Icon-inside i,
icono-buscador {
  position: absolute;
  left: 20px;
  top: -20px;
  padding: 10px 10px;
  color: #007c86;
}
.buscador-radius {
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}
.buscador-radius-derecha {
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

.upload-file:hover {
  cursor: pointer;
}

//Notificaciones
.titulo-notificacion {
  font-size: 14px !important;
  font-weight: 800 !important;
}
.subtitulo-notificacion {
  font-size: 13px !important;
  font-weight: 600 !important;
}
.subtitulo-select {
  font-size: 14px !important;
  font-weight: 600 !important;
}
.adeltante {
  z-index: 1;
}
.atras {
  z-index: 999;
}
.color-notificacion {
  color: green !important;
}
.switch-custom {
  height: 1.3em !important;
  width: 2.5em !important;
  margin-right: 15px;
}
.separador-notificacion {
  margin-top: 5px;
  height: 3px;
  width: 60px;
  background-color: #f58220;
}
//Perfil
.perfil-nombre {
  font-size: 16px;
}
.perfil-email {
  font-size: 16px;
}
.perfil-link {
  font-size: 14px !important;
}
.padding-lista-perfil {
  padding-left: 5px !important  ;
}

.border-none {
  border: none !important;
}
//Precalificacion
.separador-titulo-precalificacion {
  margin-top: 5px;
  height: 40px;
  width: 5px;
  background-color: #007c86;
}
@media (max-width: 600px) {
  .separador-titulo-precalificacion {
    height: 70px;
  }
}

.separador-titulo {
  margin-top: 5px;
  height: 40px;
  width: 5px;
  background-color: #007c86;
}
.lbl-precalificacion {
  font-size: 14px;
}
.contenedor-spinner {
  padding-right: 80px;
}
.form-control,
select#telefono {
  background-color: #ffffff !important;
  font-weight: 600 !important;
  border-radius: 5px !important;
}
.mapa-google {
  min-width: 350px !important;
  min-height: 350px !important;
  max-width: 700px !important;
  max-height: 380px !important;
  margin-top: 20px !important;
}
.secundario {
  color: #007c86 !important;
}
.bg-secundario {
  background-color: #007c86 !important;
}

//##login##///
.portada {
  background: url('../src/img/Front.jpg') no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  text-align: center;

}

.boton-ingresar {
  background-color: #231f20 !important;
}
.borde-check {
  border-color: #ffffff !important;
}

//footer
// .footer {
//   width: 100%;
//   height: 10vh;
//   background-color: #231f20;
//   color: #ffffff;
//   padding: 10px;
// }

// .footer-redes {
//   width: 70%;
//   bottom: 40px;
//   left: 0;
//   right: 0;
//   margin: 0 auto;
//   display: grid;
//   grid-template-columns: 5fr 1fr;
// }

// .redes-links {
//   display: grid;
//   width: 100%;
//   grid-template-columns: 0fr 0fr 0fr;
// }

// .fa-facebook-f,
// .fa-instagram,
// .fa-youtube {
//   color: #ffffff;
//   font-size: 22px;
//   margin: 5%;
//   padding: 10px;
//   border-bottom: 4px solid transparent;
// }

// .fa-facebook-f:hover,
// .fa-instagram:hover,
// .fa-youtube:hover {
//   border-color: #f58220;
//   transition: all 0.3s ease-out;
//   transition: 1s;
// }

.derechos {
  font-size: 18px;
  padding-left: 330px;
  color: #ffffff;
  margin: 2%;
}

.required:after {
  content: " *";
  color: red;
}

//radio

.radio {
  padding: 10px;
  color: #231f20;
}


.badge{
  font-size: 12px !important;
}

.plus{
  color: whitesmoke;

}

.plus:hover {
  color: #f58220;
  transition: 1s;
}

///video
.portada-container {
  height: 100vh;
  width: 100%;
  object-fit: contain;
  box-shadow: 0 0 0 1000px rgba (0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;

}

.video {
  object-fit:cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  
}

.video-logo {
  width: 28%;
  height: 28%;
  display: flex;
  align-self:center;
  justify-content: center;

 
}


//about

.about-container{
  display: flex;
  background-color:#F58220;
  color: white;
  font-family: 'Roboto', sans-serif;
  height: 70vh;
  padding: 100px 0 100px 0;
  width: 100%;
}

.description{
  display: flex;
  flex-direction: column;
  justify-content:end;
  width: 45%;
  padding: 0 100px 0 100px;
}
.description > h3 {
  margin-bottom: 30px;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
}

.description > p {
  line-height: 1.5;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;

}


.about-img {
  width: 45%;
  display: flex;
  align-self:auto;
  overflow: hidden;
  padding: 1px 1px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;

 
}


@media only screen and (max-width:960px) {
  .about-container{
   flex-direction: column;
   padding: 0;
   height: auto;

  
  }

  .description {
      width: 90%;
      margin: 0 auto;
      padding: 40px 20px 50px 20px ;
  }
   
  .description > h3 {
      font-size: 20px;
      text-align: center;

  }

  .about-img {
      width: 100%;
      margin-bottom: 50px;

  }
 
  .about-img > img {
      width: 100%;
      
  }

}





.badge-personalizado-naranja{
  font-size: 12.5px !important; 
  background-color: #fd7e14 !important;
  font-weight: lighter !important;
  font-weight: 700;
}

.RSPBprogression {
  background-color: rgb(245,130,32) !important; 
}

.indexedStep {
  color: white;
  width: 20px;
  height: 20px;
  font-size: 12px;
  background-color: rgba(211, 211, 211, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexedStep.accomplished {
  background-color: rgb(245,130,32);
}


@import "~bootstrap/scss/bootstrap";
